* {
    margin: 0;
    padding: 0;
}

.text-white {
    color: #fff;
}

header {
    padding: 1.5% 7%;
}

.logo {
    height: 40px;
    width: 180px;
}

ul {
    float: right;
    margin-top: 10px;
}

ul a {
    margin-right: 20px;
    color: #808080;
}

section {
    padding: 5%;
    background-color: #808080;
}
